{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Login
{% endblock title %}

{% block body %}
<div class="container">
    <h1>Login</h1>
    <form method="POST">
        <div>
            {% csrf_token %}
            {% crispy form %}
            <div class="mb-3">

                <button type="submit" class="btn btn-primary" name="submit">Login</button>
                <a class="btn btn-secondary" href="{% url 'accounts:register' %}" role="button">Register</a>
            </div>
        </div>
    </form>
</div>

{% endblock body %}